.thanks-container {
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: 100vh;  
  color:green;         
  
}


.cart-heading {
  text-align: center;
}


.order-placed-body {
  border: 2px solid green;
  padding: 20px;
  width: 400px;             
  position: relative;
}

.x-icon{
  position:absolute;
  top: 10px; 
    right: 10px; 
    font-size: 12px; 
    color: black; 
    cursor: pointer; 
    font-weight: 500;
}



.content-body {
  text-align: center;
  margin-top:60px;
  margin-bottom: 60px;
  font-size: 20px;
}

.text-font-size{
  font-size: 30px;
  margin-bottom: 80px;
}


.btn-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}


.btn-container button {
  background-color: green;
  color: white;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

.btn-container button:hover {
  background-color: darkgreen; 
}
