.searchbar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input{
    border: none;
    outline:none;    
}


.sub-search{
    display: inline-flex;
    border-bottom: 1px solid rgb(143, 143, 143); /* Apply underline to the entire search bar */
}