.top-card{
    background-color: rgb(2, 85, 6);
    display: flex;
    justify-content: space-between;
    padding-left:20px;
    padding-right: 20px;
    color: white;
}

.header {
    padding: 10px 20px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-bg img {
    max-width: 100px; /* Adjust the image size if necessary */
}

.title {
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
    color:#000;
}

nav ul li {
    display: inline; /* Ensure each list item is inline */
    color:#000;
}

a {
    color: #000;
    text-decoration: none;
}

.icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    text-align: center;
    gap:20px;
}

.icons a {
    color: #000; /* You can change this if needed */
    text-decoration: none;
}

.icons p {
    color: red;
    font-size: 15px;
}